<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinjin.gymmanagementsystem.mapper.AdminMapper">
    <select id="selectAdminByAccountAndPassword" resultType="com.jinjin.gymmanagementsystem.pojo.Admin">
        select * from admin where admin_account = #{adminAccount} and admin_password = #{adminPassword}
    </select>
</mapper>