<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinjin.gymmanagementsystem.mapper.EmployeeMapper">
    <select id="selectEmployeeCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM employee
    </select>

    <select id="selectEmployeeByEmployeeAccount" parameterType="java.lang.Integer" resultType="com.jinjin.gymmanagementsystem.pojo.Employee">
        SELECT * FROM employee WHERE employee_account = #{employeeAccount}
    </select>

    <select id="findAll" resultType="com.jinjin.gymmanagementsystem.pojo.Employee">
            SELECT * FROM employee
    </select>

    <insert id="insertEmployee" parameterType="com.jinjin.gymmanagementsystem.pojo.Employee">
        INSERT INTO employee (employee_account, employee_name, employee_gender,
        employee_age, entry_time, staff, employee_message)
        VALUES (#{employeeAccount}, #{employeeName}, #{employeeGender},
        #{employeeAge}, #{entryTime}, #{staff}, #{employeeMessage})
    </insert>

    <delete id="deleteEmployeeByEmployeeAccount" parameterType="java.lang.Integer">
            DELETE FROM employee WHERE employee_account = #{employeeAccount}
    </delete>

    <update id="updateEmployeeByEmployeeAccount" parameterType="com.jinjin.gymmanagementsystem.pojo.Employee">
        UPDATE employee
        SET employee_account = #{employeeAccount},
        employee_name    = #{employeeName},
        employee_gender  = #{employeeGender},
        employee_age     = #{employeeAge},
        staff            = #{staff},
        employee_message=#{employeeMessage}
        WHERE employee_account = #{employeeAccount}
    </update>
</mapper>